@charset "UTF-8";
/* CSS Document */



		::-moz-selection { /* Code for Firefox */

	    background:#000000;

	}



	::selection {

	    background: #000000;

	}







		body {
    word-wrap: break-word;
        margin:0;
	-webkit-text-stroke-width:0.35pt;
			background: #000000;
			font-family: serif;
			font-size: 24px;
			padding: 20px;
			line-height:115%;
			color: #ffffff;
			z-index:-1;

		}


		a {
			color: #ffffff;
			text-decoration: underline;
		}


			a:hover {
				text-decoration:none;
			}


			a:active,

			a:focus {

				outline: 0;

			}



			a img { border-width: 0px; }



		.clear {

			clear: both;

		}



		#left {
				font-family:sans-serif;
			font-size: 16px;
			width: 100%;
			margin-left:5px;
			top:0px;
			letter-spacing:0px;
			position:fixed;
			z-index:1;
			-webkit-text-stroke:0.35pt white;
		}



		#left a {text-decoration:none;

		}

#left a:hover {text-decoration:underline;}



		#left .design {display:none;}





		#left .home {

			float:left;
			text-decoration: none;

		}






		#left .space {

			width: 100%;

			height: 1px;

		}



	#left .alignright {
		    text-align:right;
		    width:calc(100% - 55px);
		}



			#left .space.small {

				width: 100%;

				height: 10px;

			}



	#right {

      margin-right:6%;

        top:80px;
display: inline-block;
        position:relative;


        z-index:0;



		}



			#right .post {

    margin-left:8vw;
		margin-right:8vw;
    width:92vw;






			}









			img {

			  max-width:100%;
				display: inline-block;

			}



			#right .datenotes {

		font-family:'Helvetica','Arial','Times New Roman', 'Times', sans-serif;

				text-transform:uppercase;

            font-size:12px;

            padding-top:0px;

           padding-bottom: 100px;



			}



			#right .caption {

		font-family: 'Helvetica','Arial','Times New Roman', 'Times', sans-serif;

            font-size:14px;

            padding-top:0px;


           padding-bottom: 100px;



			}



				#right a.datenotes {

            text-decoration:none;



			}





			#right .post a.h3 {

				font-family: 'Times', 'Times New Roman', serif;

				color: #ffffff;

				text-decoration:none;

				letter-spacing:1px;

				font-size: 24px;

			    line-height:115%;

				margin: 0;



			}







			#right .post a.h3.link {

			}












			#right .post blockquote {

				border-left: 2px solid #ffffff;

				padding: 0 0 0 15px;

				margin-left: 0px;

			}







			#right ol.notes {

			   	font-family:'Helvetica','Arial','Times New Roman', 'Times', sans-serif;

				text-transform:uppercase;

				letter-spacing:0px;

				line-height:15px;

          margin: 0 0 50px 0;

         font-size:8px;

          padding: 0 0 0 0;

          list-style:none;

      }



         #right ol.notes img {

              display: none;

          }





			#right .text {

			width:60%;

			margin-left:4%;
			display: inline-block;


			}



			#right .title {

			width:20%;

			padding-top:18px;

			float:left;

			-webkit-hyphens: auto;

   -moz-hyphens: auto;

    -ms-hyphens: auto;

        hyphens: auto;

         -ms-word-break: break-all;

     word-break: break-all;



     /* Non standard for webkit */

     word-break: break-word;



			}



			#right .design {
			min-width:680px;
			margin-left:8%;
			padding-bottom: 150px;

			}



			#right .designcaption {

		    width:20%;

		    left:8%;

			float:left;

			position:absolute;

			}





		#right #footer {

		position:

			text-align: right;

			font-family: 'Helvetica','Arial','Times New Roman', 'Times', sans-serif;

				text-transform:uppercase;

            font-size:14px;

            letter-spacing:0px;

            display:none;

		}



		#right #footer a {text-decoration:none;}



	.space2 {

				width: 100%;

				height: 10px;

			}

/* Modal */

.mImg {
    cursor: pointer;
}

/* Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
	left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 75vw;
	height: 75vh;
    overflow: hidden;
	cursor: pointer;
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
	max-height: 100%;
}




		.tmblr-iframe--controls {display:none;}

	.tmblr-iframe--controls.iframe-controls--desktop {display:none;}
