@charset "UTF-8";
/* CSS Document */

* {
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --text-color:white;
  --hover-color:white;
  --background-color:#1b1512;
}

@font-face {
    font-family: 'Stanley';
    src: url('./StanleyRegular-Regular.woff') format('woff'),
		url('./StanleyRegular-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Stanley Italic';
    src: url('./StanleyRegular-Italic.woff') format('woff'),
		url('./StanleyRegular-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Wremena';
    src: url('./wremenaregular-webfont.woff') format('woff'),
		url('./WremenaRegular.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'FreeUniversal';
    src: url('./FreeUniversal-Regular.ttf') format('woff'),
		url('./FreeUniversal-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


body {
	font-family: 'Wremena', 'Times New Roman', serif;
	background-color:var(--background-color);
	color: var(--text-color);
	font-size: 15pt;
	letter-spacing: 0.06em;
	line-height: 20pt;
}

a {
	color: var(--text-color);
	text-decoration: none;
}

a:hover {
	border-bottom: 1px solid white;
	cursor:pointer;
}

.current-page {
	border-bottom: 1px solid white;
	cursor:default;
}


#container {
	margin:42px;
}

.header {
	top:42px;
	width:100%;
	height:100px;
}

.title {
	float:left;
}

.menu {
	float:left;
	padding-left:4em;
}

.far-right {
	float:right;
	text-align: right;
}

.footer {
	clear: both;
	line-height: 21pt;
	width:100%;
	padding-bottom: 22px;
	padding-top:4em;
}

.content {
	margin-top:4em;
	margin-right:55vw;
	width:100%;
	padding-bottom: 80px;
}

.text {
	width:66vw;
}

h1 {
	font-size:36pt;
	font-weight: normal;
	line-height: 41pt;
}

h2 {
	font-size:24pt;
	font-weight:normal;
	line-height: 28pt;
}

h3 {
	font-size:13pt;
	font-family: "FreeUniversal", Helvetica, Arial, "serif";
	font-weight:normal;
	line-height: 20pt;
	margin:0;
}


.hanging {
	text-indent: -1.5em;
	margin-left:1.5em;
	margin-top:0;
    margin-bottom:0;
}

.left {
	float:left;
	width:47%;
	clear:left;
}

.right {
	float:left;
	padding-left:6%;
	width:47%;
}


.full-width-columns {
	font-size:18pt;
	line-height:22pt;
	columns:200px 3;
	column-fill: auto;
	column-gap: 1.25em;
	width:100%;
	clear:both;
}
